-- Save this file as "paths.lua" in the same folder.
-- Update these values to point to your SFML include and lib folders.
PATH_TO_SFML_INC = { "E:/Dev/libs/bin/gcc-4.6.2/sfml/include" }
PATH_TO_SFML_LIB = { "E:/Dev/libs/bin/gcc-4.6.2/sfml/lib" }